.sheet {
  width: 100%;
  height: auto;
  min-height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mui-palette-common-white);
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.06);
  position: sticky;
  bottom: 0;
  z-index: 2;
  padding: 1.5rem;
}

.amount {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon {
  width: 2.75rem;
  height: 2.75rem;
  background-color: var(--mui-palette-secondary-main);
  border-radius: 50%;
  padding: 0.6rem;
  overflow: visible;
}

.amount p:nth-child(3) {
  grid-column-start: 2
}